@model IEnumerable<Race>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Hi races</h1>
@foreach (var item in Model)
{
    <p>@item.Title</p>
    <p>@item.Description</p>
    <p>@item.RaceCategory</p>
    <a asp-controller="Race" asp-action="Detail" asp-route-id="@item.Id">View</a>
    <a type="button" class="btn btn-sm btn-outline-info" asp-controller="Race" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
}